body {
  background-color: #04a6eb;
  color: #fbffff;
  width: 500px;
  margin-right: auto;
  margin-left : auto;
}
button { 
  color: #fbffff;
  padding: 5px 20px;
  background-color: #3079b9;
  border-style: none;
}
input {
  height: 22px;
}